p
{
    color: blue;
}
h1
{
    color: rgb(0, 255, 21);
}
/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: rgb(0, 0, 0); /* Le fond de la page sera noir */
    color: rgb(52, 8, 246); /* Le texte de la page sera bleu */
}